
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab');
$global-link-color: #DA7D02;
$dark-grey: #212121;
$grey: #B2B2B2;
$off-white: #F2F2F2;
$light-grey: #CCCCCC;

$raleway: 'Raleway', sans-serif;

$quicksand: 'Quicksand', sans-serif;
$roboto-slab: 'Roboto Slab', serif;

$base-heading-font-family: $roboto-slab;
$base-body-font-family: $raleway;

@mixin tint-over($gradient, $opacity:0.5) {
	&:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: $gradient;
		opacity: $opacity;
	}
}
@import "animate/animate";

@import "uikit/variables-theme.scss";
@import "uikit/mixins-theme.scss";
@mixin hook-card() {
	color: #000;
}


@import "uikit/uikit-theme.scss";
@import "components/banner";
@import "components/page-load";
@import "components/work";
@import "components/tints";
@import "components/footer";
